$main: #e52213;
$sub: #2ba99d;

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}

* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  line-height: 1.8;
  letter-spacing: 0.2em;
  color: #603813;
  background-color: #E4FDFC;
  font-family: -apple-system, BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Meiryo", "Yu Gothic", "YuGothic",
    sans-serif;
}

p {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
  color: #141414;

}

a {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
  color: #141414;

  &:hover {
    cursor: pointer;
  }
}


a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

table {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

dd,
dt {
  list-style: none;
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}



.pc-block {
  display: block;

  @include tab {
    display: none;
  }
}

.sp-block {
  display: none;

  @include tab {
    display: block;
  }
}

.fa-phone {
  color: $main;
  margin: 0 8px 0 0;
}

// パンくずリスト
.breadcrumbs-wrap {

  &__content {
    max-width: 1180px;
    margin: 0 auto;
    padding: 12px 12px 0;
    font-size: 11px;
  }
}

// トップページタイトル
.top-ttl-style {
  color: $main;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;

  @include sp {
    font-size: 26px;
    text-align: center;
  }

  span {
    display: block;
    color: #141414;
    font-size: 17px;

    @include sp {
      font-size: 14px;
    }
  }
}

.section-bg {
  background-color: #f2f2f2;
}


.black-bg {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  cursor: pointer;
  opacity: 0;
  transition: all 0.6s;

  &.active {
    visibility: visible;
    z-index: 10;
    opacity: 0.6;
  }
}

.main {
  margin: 76px 0 0;

  @include pc {
    margin: 50px 0 0 0;
  }
}


// フェードイン

/* ▼ 下からフェードイン */
.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.7s ease;

  &.action {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ▼ 右からフェードイン */
.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease, transform 0.7s ease;

  &.action {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ▼ 左からフェードイン */
.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease, transform 0.7s ease;

  &.action {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ▼ 拡大しながらフェードイン */
.fade-in-zoom {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.7s; // ← ここで遅らせる

  &.action {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-zoom-updown.action {
  animation: floatUpDown 3s ease-in-out infinite;
  animation-delay: 0.7s; // フェードインと自然に繋げる
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1);
  }
}

/* ▼ フェードイン後にふわふわ左右 */
.fade-in-zoom-leftright.action {
  animation: floatLeftRight 3s ease-in-out infinite;
  animation-delay: 0.7s;
}

@keyframes floatLeftRight {
  0%, 100% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1);
  }
}

/* ▼ フェードイン後に左右に回転（-45°〜45°） */
.fade-in-zoom-swing.action {
  animation: swingRotate 2s ease-in-out infinite;
  animation-delay: 0.7s;
}

@keyframes swingRotate {
  0% {
    transform: rotate(-3deg) scale(1);
  }
  50% {
    transform: rotate(3deg) scale(1);
  }
  100% {
    transform: rotate(-3deg) scale(1);
  }
}

/* ▼ フェードイン後に跳ねる */
.fade-in-zoom-bounce.action {
  animation: bounce 2s ease infinite;
  animation-delay: 0.7s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  30% {
    transform: translateY(-10px) scale(1);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(-2px) scale(1);
  }
}

.fade-in-onload {
  opacity: 0;
  transform: translateY(20px);
  /* 少し下から */
  animation: fadeInOnLoad 0.8s ease forwards;
  animation-delay: 0.3s;
  /* 表示されてから1秒待つ */
}

@keyframes fadeInOnLoad {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-onload02 {
  opacity: 0;
  transform: translateY(20px);
  /* 少し下から */
  animation: fadeInOnLoad02 1.5s ease forwards;
  animation-delay: 1.5s;
  /* 表示されてから1秒待つ */
}

@keyframes fadeInOnLoad02 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// エディター
.page-style {
  &__block {
    margin: 0 0 40px;
  }

  .aligncenter {
    display: block;
    margin: 0 auto;
  }

  .alignright {
    float: right;
  }

  .alignleft {
    float: left;
  }

  img {
    width: auto;
  }

  p {
    margin: 0 0 12px;
    line-height: 24px;
  }

  h1 {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 36px;


    @include tab {
      font-size: 20px;
    }

    &:after {
      content: '';
      width: 110px;
      height: 3px;
      display: inline-block;
      background-color: $sub;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }

  h2 {
    font-size: 22px;
    margin: 24px 0 12px;
    color: $sub;
    font-weight: bold;

    @include sp {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 20px;
    margin: 24px 0 8px;

    @include sp {
      font-size: 18px;
    }
  }

  a {
    text-decoration: underline;
  }

  ol {
    margin: 0 0 12px 24px;
    line-height: 24px;

    li {
      list-style: decimal;
    }
  }

  ul {
    margin: 0 0 12px 24px;
    line-height: 24px;

    li {
      list-style: disc;
    }
  }


}