@use "config";
@use "subpage";

$main: #e52213;
$sub: #2ba99d;

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


/* =================================
header
 ================================= */
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: transform 0.3s;
  background-color: #fff;


  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 80px;
    padding: 16px 12px 12px;

    @include pc {
      padding: 8px 12px 6px;
    }

    @include tab {
      justify-content: space-between;
      padding: 8px 12px 6px;
    }
  }

  &__ttl-wrap {
    max-width: 180px;

    @include pc {
      max-width: 140px;
    }
  }

  &__menu-wrap {
    @include pc {
      display: none;
    }
  }

  &__menu-inner {
    display: flex;
    gap: 24px;

    @include pc {
      gap: 12px;
    }
  }

  &__menu {
    color: #a1864d;
  }

  &__right-menu-wrap {
    display: flex;
    gap: 24px;
    align-items: center;

    @include pc {
      display: none;
    }
  }

  &__tel {
    max-width: 220px;

    @include pc {
      display: none;
    }

  }

  &__right-menu-contact {
    background-color: $main;
    color: #fff;
    padding: 10px;
    border-radius: 24px;
    width: 160px;
    text-align: center;
  }


  &__btn-wrap {
    display: none;

    @include pc {
      display: block;
      cursor: pointer;
      z-index: 99;
      top: 14px;
      right: 12px;
      position: absolute;
      width: 24px;
    }
  }
}

.header-sp {
  opacity: 0;
  transition: all 0.3s;
  transform: translate(100%, 0);
  z-index: 101;
  position: fixed;
  top: -4px;
  right: 0;
  padding: 80px 12px 0 40px;
  background-color: #fff;
  height: 100vh;
  width: 80%;
  overflow-y: scroll;
  scrollbar-width: none;


  &.active {
    opacity: 1;
    transition: all 0.3s;
    transform: translate(0, 3px);
    z-index: 100;
  }

  &__btn-img {
    width: 24px;
    display: block;
    cursor: pointer;
    z-index: 99;
    top: 14px;
    right: 12px;
    position: absolute;
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__menu-item {
    &--margin {
      margin: 0 0 24px;
    }
  }

}


/* =================================
メインビジュアル
 ================================= */
.main-visual {
  padding: 80px 0;
  background: linear-gradient(#fff 25%, #E4FDFC 25%);
  overflow: hidden;

  @include tab {
    padding: 54px 0 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 60px;

    @include tab {
      flex-direction: column-reverse;
      gap: 24px;

    }
  }

  &__left {
    flex: 1;

    @include tab {
      flex: none;
      width: 100%;
    }
  }

  &__left-inner {
    max-width: 270px;
    margin: 40px 0 40px auto;

    position: relative;

    @include tab {
      margin: 0 auto;
      max-width: 270px;

    }
  }

  &__text {
    font-size: 28px;
    color: #603813;
    font-weight: 500;
    margin: 0 0 40px;
    font-weight: 700;
    letter-spacing: 0.3em;


    @include pc {
      font-size: 24px;
      letter-spacing: 0.2em;
      padding: 0 12px;
    }

    @include tab {
      font-size: 20px;
      margin: 0 0 24px;
      text-align: center;


    }

  }

  &__right {
    width: 65%;
    position: relative;

    @include tab {
      width: 100%;
      padding: 0 12px;
    }
  }

  &__video {
    width: 100%;
    border-radius: 30px 0 0 30px;

    @include tab {
      border-radius: 18px;
    }
  }

  &__dec01 {
    position: absolute;
    max-width: 51px;
    top: -60px;
    left: -44px;

    @include tab {
      max-width: 42px;
      top: -19px;
      left: -55px;
    }
  }

  &__dec02 {
    position: absolute;
    max-width: 64px;
    top: -72px;
    right: 296px;

    @include tab {
      max-width: 40px;
      top: -44px;
      right: 110px;
    }
  }

  &__dec03 {
    position: absolute;
    max-width: 74px;
    bottom: 112px;
    right: -27px;

    @include tab {
      max-width: 42px;
      bottom: 74px;
      right: -27px;
    }
  }
}


/* =================================
リード
 ================================= */

.top-lead {
  padding: 120px 0;
  background-image: url(../img/top/lead-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;

  @include tab {
    padding: 80px 0 0;
  }

  &__content {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    gap: 50px;

    @include pc {
      gap: 16px;
      padding: 0 12px;
    }

    @include tab {
      gap: 0;
    }
  }

  &__text-wrap {
    width: 300px;
    margin: 0 auto;
    position: relative;
  }



  &__text-ttl {

    display: flex;
    justify-content: center;
    /* 横方向の中央寄せ */
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 32px;
    letter-spacing: 0.2em;

    span {
      writing-mode: vertical-rl;
      text-orientation: upright;

    }
  }

  &__text {
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 2;
    text-align: center;

    p {
      margin-bottom: 40px;
      color: #603813;
      line-height: 2rem;
      white-space: nowrap;
    }
  }

  &__left {}

  &__left-img01 {
    margin: 32px 0 0;
  }

  &__left-img02 {
    max-width: 280px;
    margin: 50px 0 0 auto;
    position: relative;
  }



  &__right {}

  &__right-img01 {
    max-width: 400px;
    position: relative;
  }


  &__right-img02 {
    margin: 60px 0 0 auto;
    position: relative;
  }

  &__dec01 {
    position: absolute;
    max-width: 74px;
    top: -63px;
    left: -27px;

    @include tab {
      max-width: 40px;
      top: -63px;
      left: -27px;
    }
  }

  &__dec02 {
    position: absolute;
    max-width: 74px;
    top: -102px;
    right: 95px;

    @include tab {
      width: 54px;
      top: 640px;
      right: 47px;
    }
  }

  &__dec03 {
    position: absolute;
    max-width: 108px;
    top: -20px;
    left: -130px;

    @include tab {
      max-width: 55px;
      top: 270px;
      left: 5px;
    }
  }

  &__dec04 {
    position: absolute;
    max-width: 74px;
    top: -40px;
    right: -33px;

    @include tab {
      width: 43px;
      top: 127px;
      right: 54px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}







/* =================================
メーッセージ
 ================================= */

.top-message {
  overflow: hidden;
  padding: 80px 12px;

  &__ttl {
    max-width: 1000px;
    margin: 0 auto 40px;
    font-size: 28px;
    color: #333;

    @include pc {
      text-align: center;
      margin: 0 auto 0px;
      font-size: 22px;

    }

  }



  &__content {
    display: flex;
    justify-content: center;
    margin-right: -90px;
    position: relative;



    @include pc {
      flex-direction: column;
      margin: 0;
      align-items: center;
      gap: 24px;
    }
  }

  &__item {
    background: url('../img/top/kumo.png') no-repeat center center;
    background-size: contain;
    padding: 70px;
    width: 450px;
    margin-left: -90px;

    @include pc {
      margin: 0;
    }

    @include sp {
      width: 350px;
      padding: 70px;


    }

  }

  &__inner {
    text-align: center;
    /* 中央寄せ */
  }

  &__item-ttl {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 1rem;
    position: relative;
    color: #333;

    @include pc {
      font-size: 18px;
    }

    &::before {
      content: url(../img/top/message-flag01.png);
      position: absolute;
      top: -123px;
      left: -26px;
      transform: scale(0.4);

      @include sp {
        top: -128px;
        left: -73px;
      }
    }

    &--02 {
      &::before {
        content: url(../img/top/message-flag02.png);
      }
    }

    &--03 {
      &::before {
        content: url(../img/top/message-flag03.png);
      }
    }
  }

  p {
    font-size: 13px;
    line-height: 1.8;
    color: #333;
    letter-spacing: 0.1em;



  }

  &__dec01 {
    position: absolute;
    max-width: 83px;
    top: -155px;
    left: 51%;
    transform: translateX(-50%);

    @include tab {
      max-width: 61px;
      top: -5px;
      left: 88%;
      transform: translateX(-50%);
    }
  }
}







/* =================================
philosophy
 ================================= */

.top-philosophy {
  overflow: hidden;

  &__ttl-wrap {
    max-width: 1200px;
    margin: 0 auto 80px;
    padding: 0 20px;

    @include tab {
      margin: 0 auto 24px;
    }
  }

  &__ttl {
    max-width: 520px;
    margin: 0 0 40px auto;
    position: relative;

    @include tab {
      margin: 0 auto 24px;
    }
  }

  &__ttl-lead {
    text-align: right;
    color: #603813;
    font-size: 13px;
    letter-spacing: 0.15em;

    @include tab {
      text-align: center;
    }
  }

  &__main-img {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 0 60px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 192, 203, 0.4);
      /* 薄ピンク */
      pointer-events: none;
      /* クリック操作を透過 */
    }

    @include tab {
      margin: 0 0 24px;
    }
  }

  &__main-lead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #333;
    z-index: 10;
    font-weight: 700;
    text-shadow: 2px 3px 3px rgba(255, 255, 255, 0.4);
    letter-spacing: 0.5rem;
    white-space: nowrap;


    @include tab {
      font-size: 20px;
    }
  }

  &__line {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 24px;
    }
  }

  &__sub-ttl {
    max-width: 400px;
    margin: 0 auto 80px;
    text-align: center;
    font-size: 28px;
    position: relative;
    color: #333;

    &:before {
      content: url(../img/top/philosophy-subttl-img.png);
      position: absolute;
      top: -77px;
      right: -54px;
      transform: scale(0.4);
    }

    @include tab {
      font-size: 22px;
      margin: 0 auto 40px;


      &:before {
        top: -77px;
        right: -20px;
        transform: scale(0.23);
      }
    }
  }

  &__dec01 {
    position: absolute;
    max-width: 82px;
    top: -30px;
    left: -126px;

    @include tab {
      width: 56px;
      top: -89px;
      left: 33px;
    }
  }




  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

.circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 12px;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 0 auto;

  @include tab {
    gap: 18px;
  }

  &__item {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    /* 丸くする */
    background: #fff;
    display: flex;
    align-items: center;
    /* 縦中央 */
    justify-content: center;
    /* 横中央 */
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    position: relative;

    @include tab {
      width: 250px;
      height: 250px;
      font-size: 20px;

    }

    &::before {
      content: url(../img/top/philosophy-item01.png);
      position: absolute;
      top: -7px;
      left: -14px;
      transform: scale(0.4);

      @include sp {
        top: -7px;
        left: -14px;
      }
    }

    &--02 {
      &::before {
        content: url(../img/top/philosophy-item02.png);
        top: 5px;
        left: -14px;
        transform: scale(0.42);

        @include sp {
          top: 10px;
          left: -34px;
        }

      }
    }

    &--03 {
      &::before {
        content: url(../img/top/philosophy-item03.png);
        top: 28px;
        left: 2px;
        transform: scale(0.53);
      }
    }

    &--04 {
      &::before {
        content: url(../img/top/philosophy-item04.png);
        top: 28px;
        left: -5px;
        transform: scale(0.5);
      }
    }

    &--05 {
      &::before {
        content: url(../img/top/philosophy-item05.png);
        top: 24px;
        left: -5px;
        transform: scale(0.45);

        @include sp {
          top: 10px;
          left: -14px;
        }
      }
    }
  }



}





/* =================================
top-about
 ================================= */

.top-about {
  background-image: url(../img/top/about-bg.png);
  background-position: center;
  background-size: contain;
  padding: 60px 0 46px;
  background-repeat: no-repeat;
  overflow: hidden;

  @include tab {
    margin: -60px 0 0 0;
    padding: 0 0 32px;

  }

  &__content {
    display: flex;

    @include tab {
      flex-direction: column-reverse;
    }
  }

  &__img {

    width: 60%;

    @include tab {
      width: 100%;
    }

  }

  &__right {
    display: flex;
    margin: 50px 0 0 -120px;
    gap: 100px;

    @include tab {
      margin: 0 0 0 0;
      flex-direction: column-reverse;
      align-items: center;
      gap: 0;
    }
  }

  &__text-wrap {
    width: 300px;
    position: relative;
  }

  &__text-ttl {

    display: flex;
    justify-content: center;
    /* 横方向の中央寄せ */
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 32px;
    letter-spacing: 0.2em;

    span {
      writing-mode: vertical-rl;
      text-orientation: upright;

    }
  }

  &__text {
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 2;
    text-align: center;

    p {
      margin-bottom: 40px;
      color: #603813;
      line-height: 2rem;
      white-space: nowrap;
    }
  }

  &__ttl-wrap {
    width: 70px;

    @include tab {
      width: 44px;
      height: 198px;
    }

    img {
      @include tab {
        transform: rotate(-90deg);
      }
    }

  }

  &__dec01 {
    position: absolute;
    max-width: 74px;
    bottom: -36px;
    left: 112px;

    @include tab {
      max-width: 40px;
      max-width: 54px;
      bottom: -5px;
      left: auto;
      right: 1px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
保育の特色
 ================================= */

.top-how {
  padding: 0 0 120px;
  overflow: hidden;

  @include tab {
    padding: 0 0 0;
  }

  &__ttl-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__ttl {
    text-align: center;
    padding: 180px 0 80px;
    font-size: 28px;
    color: #333;
    background-image: url(../img/top/how-ttl-bg02.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include tab {
      font-size: 20px;
      padding: 60px 0 14px;
      margin: 0 0 24px;

    }
  }

  &__content {
    transform: translateY(-60px);

    @include tab {
      transform: translateY(0);
    }

  }

  &__item-wrap {
    max-width: 880px;
    margin: 0 auto 60px;
    display: flex;
    gap: 60px;
    padding: 0 18px;
    position: relative;

    @include tab {
      gap: 40px;
      flex-direction: column;
      align-items: center;
      margin: 0 auto 40px;

    }
  }

  &__item {
    width: calc((100% - 120px) / 3);

    @include tab {
      width: 100%;
      max-width: 260px;
    }

    &--02 {
      transform: translateY(60px);

      @include tab {
        transform: translateY(0);
      }
    }

    &--03 {
      transform: translateY(120px);

      @include tab {
        transform: translateY(0);
      }
    }
  }

  &__item-top {
    min-height: 280px;
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 12px;
    position: relative;

    @include tab {
      min-height: 200px;
    }

    &::before {
      content: url(../img/top/how-item-num01.png);
      position: absolute;
      top: -54px;
      left: -51px;
      transform: scale(0.5);

      @include tab {
        transform: scale(0.4);
      }
    }

    &--02 {
      &::before {
        content: url(../img/top/how-item-num02.png);
      }
    }

    &--03 {
      &::before {
        content: url(../img/top/how-item-num03.png);
      }
    }

    &--04 {
      &::before {
        content: url(../img/top/how-item-num04.png);
      }
    }

    &--05 {
      &::before {
        content: url(../img/top/how-item-num05.png);
      }
    }

    &--06 {
      &::before {
        content: url(../img/top/how-item-num06.png);
      }
    }
  }

  &__item-img {
    width: 70px;
    margin: 0 auto 40px;

    @include tab {
      width: 50px;
      margin: 0 auto 24px;
    }
  }

  &__item-ttl {
    font-size: 24px;
    text-align: center;

    @include tab {
      font-size: 20px;
    }
  }

  &__item-text {
    padding: 0 2px;
  }


  &__dec01 {
    position: absolute;
    max-width: 60px;
    top: -38px;
    left: -109px;

    @include tab {
      display: none;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
プラグラム
 ================================= */

.top-program {
  padding: 0 0 80px;
  overflow: hidden;

  @include tab {
    padding: 0 0 40px;
  }

  &__ttl-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 120px;
    margin: 0px 0 -53px;

    @include tab {
      flex-direction: column;
      align-items: center;
      margin: -80px 0 60px;

    }
  }

  &__ttl {
    width: 70px;
    position: relative;

    @include tab {
      width: 38px;
      height: 90px;
    }

    img {
      @include tab {
        transform: rotate(-90deg);
      }
    }



  }

  &__main-img {
    width: 80%;

    @include tab {
      width: 100%;
      padding: 0 0 0 18px;
    }
  }

  &__flow-ttl-wrap {
    background-image: url(../img/top/about-bg.png);
    background-position: center -100px;
    background-size: cover;
    padding: 60px 0 60px 0;
    background-repeat: no-repeat;
    margin: 24px 0 0;
    z-index: -2;
    position: relative;


    @include tab {
      margin: -60px 0 0 0;
      padding: 60px 0 60px 0;

    }
  }

  &__flow-ttl-inner {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    z-index: -1;
  }

  &__flow-ttl {
    max-width: 300px;

    @include tab {
      max-width: 200px;
    }
  }

  &__flow-content {
    background-color: #fff;
    max-width: 920px;
    margin: -140px auto 120px;
    padding: 40px;
    z-index: 10;

    @include tab {
      margin: -120px auto 60px;
      padding: 12px;
      overflow-x: auto;
      /* 横スクロール可能にする */
      -webkit-overflow-scrolling: touch;
      /* iOSで慣性スクロール */

      img {
        display: block;
        max-width: none;
        /* ←これがポイント！ 画面幅に制限されない */
        width: 800px;
        /* 本来の大きさで表示 */
      }
    }
  }

  &__schedule {
    background-color: #fff;
    max-width: 920px;
    margin: 0 auto 60px;
    padding: 4px 0 40px;

    img {
      margin: -10px 0 0;
    }

    @include tab {
      overflow-x: auto;
      /* 横スクロール可能にする */
      -webkit-overflow-scrolling: touch;
      /* iOSで慣性スクロール */
      padding: 12px 8px 0;


      img {
        margin: 0;

        display: block;
        max-width: none;
        /* ←これがポイント！ 画面幅に制限されない */
        width: 800px;
        /* 本来の大きさで表示 */
      }
    }
  }

  &__text {
    max-width: 920px;
    margin: 0 auto 120px;
    padding: 0 12px;

    span {
      display: block;
      font-size: 20px;
      margin: 0 0 4px;
    }

    @include tab {
      margin: 0 auto 60px;
    }
  }

  &__class {
    background-color: #fff;
    max-width: 920px;
    margin: 0 auto 60px;
    padding: 4px 40px 40px;

    img {
      margin: -24px 0 0;
    }

    @include tab {
      padding: 4px 12px 40px;
      overflow-x: auto;
      /* 横スクロール可能にする */
      -webkit-overflow-scrolling: touch;
      /* iOSで慣性スクロール */

      img {
        margin: -12px 0 0;
        margin: 0;

        display: block;
        max-width: none;
        /* ←これがポイント！ 画面幅に制限されない */
        width: 800px;
        /* 本来の大きさで表示 */
      }
    }
  }

  &__dec01 {
    position: absolute;
    max-width: 114px;
    top: 45px;
    right: 82px;

    @include tab {
      display: none;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
reasons
 ================================= */

.top-reasons {

  padding: 0 0 24px;
  overflow: hidden;

  @include tab {
    padding: 0 0 12px;
  }

  &__inner {
    display: flex;
    gap: 40px;
    justify-content: flex-end;

    @include tab {
      flex-direction: column;
      align-items: center;
      margin: -140px 0 40px;

    }
  }

  &__ttl {
    width: 70px;
    position: relative;

    @include pc {
      width: 50px;
    }

    @include tab {
      width: 35px;
      height: 160px;
    }

    img {
      @include tab {
        transform: rotate(-90deg);
      }
    }
  }

  &__right {
    width: 80%;

    @include pc {
      width: 90%;
    }

    @include tab {
      width: 100%;
    }

  }

  &__content {
    display: flex;
    justify-content: center;
    margin: 0 0 80px;
    align-items: center;

    @include tab {
      flex-direction: column;
      gap: 24px;
      overflow: hidden;
    }

    &--bottom {
      @include tab {
        margin: 0 0 12px;
      }
    }
  }

  &__text-wrap {}

  &__sub-ttl {
    max-width: 360px;
    margin: 0 0 20px 24px;

    @include tab {
      margin: 0 auto 16px;
      max-width: 300px;

    }
  }

  &__lead {
    background-color: #69e0dc;
    max-width: 300px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    padding: 4px;
    border-radius: 8px;
    font-weight: bold;
    margin: 0 0 24px 24px;

    @include tab {
      margin: 0 auto 24px;
      font-size: 15px;

    }

  }

  &__list {
    margin: 0 0 40px;

    @include tab {
      padding: 0 18px;
    }
  }

  &__list-item {
    font-size: 18px;
    margin: 0 0 18px 60px;
    font-weight: bold;
    position: relative;
    width: 460px;

    @include tab {
      width: 80%;
      margin: 0 0 18px 50px;
    }

    &::before {
      content: url(../img/top/reasons-top-dec.png);
      position: absolute;
      top: -22px;
      left: -93px;
      transform: scale(0.5);

      @include tab {
        top: -22px;
        left: -80px;
        transform: scale(0.4);
      }
    }

    &--bottom {
      &::before {
        content: url(../img/top/reasons-bottom-dec.png);
        position: absolute;
        top: -7px;
        left: -85px;
        transform: scale(0.5);

        @include tab {
          top: 0px;
          left: -80px;
          transform: scale(0.4);
        }
      }
    }




    span {
      font-size: 12px;
      display: block;
    }
  }

  &__btn {
    display: block;
    max-width: 260px;
    margin: 0 auto;
  }

  &__table-wrap {
    max-width: 700px;
    margin: 0 0 0 -100px;
    position: relative;
    z-index: -1;

    @include tab {
      display: none;
    }
  }

  &__table-sp {

    display: none;

    @include tab {
      display: block;
      margin: 0 auto 24px;
      width: 100%;
    }
  }

  &__dec01 {
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tab {
      width: 40px;
      top: 35%;

      right: -131px;
      left: auto;
      transform: translate(0, 0);

    }
  }

  &__dec02 {
    width: 80px;
    position: absolute;
    bottom: -62px;
    right: 43px;

    @include tab {
      width: 40px;
      top: 35%;

      right: -131px;
      left: auto;
      transform: translate(0, 0);

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
概要
 ================================= */

.top-overview {
  padding: 80px 0 12px;
  background-color: #fffadb;
  overflow: hidden;

  @include tab {
    padding: 40px 0 12px;
  }


  &__ttl-wrap {
    display: flex;
    max-width: 920px;
    margin: 0 auto 40px;
    gap: 80px;
    align-items: center;
    padding: 0 18px;

    @include tab {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__ttl {
    width: 460px;
    position: relative;

    @include tab {
      max-width: 400px;
      width: 100%;
    }

  }

  &__ttl-img {
    flex: 1;

    @include tab {
      max-width: 280px;
    }
  }

  &__content {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px;
    align-items: flex-start;

    @include sp {
      flex-direction: column;
      padding: 8px 16px;

    }
  }

  &__dt {
    font-weight: bold;
    color: #333;
    width: 200px;
    position: relative;


  }

  &__dd {
    flex: 1;
    color: #333;
    position: relative;

    @include tab {
      padding: 0 0 0 12px;
    }

  }

  &__map-wrap {
    max-width: 780px;
    margin: 24px 0 0;
  }


  &__map {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // その他の情報ブロック
  .info-block {
    margin-bottom: 25px;
  }


  .info-block.staff-type {
    thead th {
      font-size: 12px;
      line-height: 1.4;
      width: calc(100% / 6);
    }

    table {
      @media (max-width: 600px) {
        display: table;
        width: 100%;
        white-space: normal;
      }
    }
  }


  // 情報リスト
  .info-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 5px;
    }
  }

  // テーブルスタイル
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;

    @include tab {
      padding: 4px;
    }
  }

  thead th {
    background-color: #ecf0f1;
    font-weight: bold;
  }








  &__btn-wrap {
    display: flex;
    max-width: 600px;
    margin: 60px auto 0;
    gap: 80px;

    @include tab {
      flex-direction: column;
      max-width: 240px;
      gap: 24px;
      margin: 40px auto 0;

    }
  }

  &__dec01 {
    width: 80px;
    position: absolute;
    top: -31px;
    left: -94px;


    @include tab {
display: none;

    }
  }

  &__dec02 {
    width: 108px;
    position: absolute;
    bottom: -291px;
    left: -45px;

    @include sp {
      width: 100px;
top: -87px;
      right: -131px;
      left: auto;


    }
  }

  &__dec03 {
    width: 50px;
    position: absolute;
    top: -76px;
    right: 30px;

    @include tab {
      width: 40px;
        top: -58px;
        right: 15px;

    }
  }

  &__dec04{
    width: 80px;
    position: absolute;
    bottom: -291px;
    left: -45px;

    @include tab {
          width: 50px;
    bottom: -620px;
    left: auto;
    right: -112px;

    }
  }

  &__ {}


}


/* =================================
footer
 ================================= */

.footer {
  position: relative;
  background-color: #69e0dc;
  padding: 70px 18px;
  overflow: hidden;


  &__bg {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100vw;
    z-index: 0;
  }

  &__content {
    display: flex;
    position: relative;
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    align-items: flex-end;
    gap: 40px;
    justify-content: space-between;


    @include pc {
      max-width: 95%;
    }

    @include tab {
      flex-direction: column;
      align-items: center;
      width: 270px;
      margin: 0 auto;
    }
  }

  &__text {
    width: 340px;

    @include tab {
      width: 100%;
    }

  }

  &__logo {
    max-width: 240px;
    display: block;
  }

  &__name {
    color: #fff;

    span {
      font-size: 13px;
      display: block;
    }

    font-size: 19px;
    font-weight: bold;

  }

  &__tel {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    display: block;
    margin: 0 0 32px;

    @include tab {
      margin: 0 0 18px;
    }
  }


  &__address {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;

  }

  &__map {
    max-width: 180px;
    display: block;
  }

  &__nav-wrap {
    width: 400px;
    position: relative;

    @include tab {
      width: 100%;
      order: 1;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 0 24px;

  }

  &__nav-item {
    width: 29%;
    color: #fff;
    line-height: 1;
    white-space: nowrap;

    @include pc {
      width: 40%;
    }

    @include tab {
      width: 45%;
    }
  }

  &__copy {
    font-size: 11px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
  }

  &__link {
    width: 220px;

    @include tab {
      width: 100%;
    }
  }

  &__link-item {
    display: block;
    margin: 0 0 18px;

  }

    &__dec01 {
    width: 80px;
    position: absolute;
    top: -116px;
    right: 0;


    @include tab {
      width: 40px;
    top: 0;
    right: 0;

    }
  }


}